* {
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 32px;
    font-weight: bold;
}
p {
    font-size: 18px;
    line-height: 1.0em;
}


body {
    background: #E4BB97;
}
.pinklarge {
    color: HotPink;
    text-align: center;
    background-color: BlanchedAlmond;
    border-width: 254px;
    font-weight: bold;
}
.click {
    text-align: center;
    border-style: dashed;
    font-size: 18px;
}
#listtest {
    background-image: url(/css/hm.png);
}
    
