h1, li {
    color: pink;
    text-align: center;
    position: relative;
    background: #f2f2f2;
}

* {
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 32px;
}

p {
    text-align: center;
}

div {
    text-align: center;
}

body {
    background: #e6e6e6;
}
