li, ul {
    color: pink;
    text-align: center;
    background-color: Lavender;
    border-width: 254px
    
}

* {
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 32px;
}

p {
    text-align: center;
}

div {
    text-align: center;
    border-style: dashed;
}

body {
    background-color: Lavenderblush;
}
h1 {
    color: pink;
    text-align: center;
    background-color: Lavender;
    border-width: 254px
}
